.class-container{
  // margin: 0 auto;
  background-color: $background-color;
  margin-left: 5%;


}
.navlist{
  // border: 2px solid;
  width: 15%;
  float: left;
  height: 525px;
  background-color: $background-color;
  box-shadow: $boxshadow;
  font-size: 13px;

}

li{
  list-style: none;
  width: 10%;
  font-size: 20px;
  margin: 30px;
  text-align: center;
  color: white;
  transition-duration: 1s;
  text-decoration: none;



}
li:hover{
  background-color: white;
  width: 150px;
}
