.main-container{
  border: $borderDefault;
  width: 74%;
  height: auto;
  float: left;
  margin: 0 auto;
  margin-left: 1%;
  background-color: $background-color;
  box-shadow: $boxshadow;
}
.main-container{
  text-align: center;
  width: 74%;
  height: auto;
  float: left;
  margin: 10px auto;
  margin-left: 1%;
}
