.topLogo{
  // border: 2px solid;
  width: 90%;
  margin: 10px auto;
  height: 100px;
  background-color: $background-color;
  box-shadow: $boxshadow;
}
.logo{
  background-image: url('../images/baker-logo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 190px;
  height: 90px;
  margin: 0 auto;
}
