
<div class="home-wrapper">
  <div class="home-carosel">
    <div class="carosel-image">

    </div>
  </div>
  <div class="home-bottom">
    <div class="carosel-image2">

    </div>
    <div class="carosel-image3">

    </div>
  </div>
</div>
