<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Friendly Bakery</title>
    <link rel="stylesheet" href="../css/main.css">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->
    <!-- <link rel="stylesheet" href="/maps/documentation/javascript/cgc/demos.css"> -->
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div class="search">
      <form class="home-search"  method="post">
        <input type="text" name="search" placeholder="search our selection">
        <input type="submit" name="submit" value="submit">
      </form>
    </div>

      <div class="topLogo">
         <div class="logo">

         </div>
      </div>

    <nav class="class-container">
      <ul class="navlist">
          <li> <a href="/"> Home </a> </li>
          <hr>
          <li> <a href="/desert"> Desert</a> </li>
          <hr>
          <li> <a href="/Locations"> Locations</a> </li>
          <hr>
          <li> <a href="/Contact"> Contact</a> </li>
          <hr>
          <li> <a href="/Cart"> Cart</a> </li>
          <hr>
          <li> <a href="/SocialMedia"> Social Media</a> </li>
      </ul>
    </nav>

    <div class="main-container">
      <%= yield %>
    </div>

    <footer> copy right @FriendlyBakery</footer>
    <script src="./javascript/javascript.js"></script>
  </body>
</html>
