<h1>Social Media</h1>
<div class="Social"> 
  <div class="imageSocial"></div>

</div>

<div class="Social">
  <div class="imageSocial"></div>
</div>

<div class="Social">
  <div class="imageSocial"></div>
</div>
